apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.31.2 (a92241f79)
  creationTimestamp: null
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml
        kompose.version: 1.31.2 (a92241f79)
      creationTimestamp: null
      labels:
        io.kompose.network/my-app-default: "true"
        io.kompose.service: frontend
    spec:
      containers:
        - args:
            - npm
            - run
            - dev
            - --
            - --host
          image: my-app-frontend:latest
          imagePullPolicy: Never
          name: frontend
          ports:
            - containerPort: 5173
              hostPort: 5173
              protocol: TCP
          resources: {}
          volumeMounts:
            - mountPath: /app
              name: frontend-claim0
            - mountPath: /app/node_modules
              name: frontend-claim1
      restartPolicy: Always
      volumes:
        - name: frontend-claim0
          persistentVolumeClaim:
            claimName: frontend-claim0
        - name: frontend-claim1
          persistentVolumeClaim:
            claimName: frontend-claim1
status: {}
